<!DOCTYPE html>
<html>
    <head>
        <title>Upload Test</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>NoFi</h1>
        <i>Le meilleur et seul site de l'Évèché</i>
        <ul>
        {{ files }}
        </ul>
        <form target="/" method="post" enctype="multipart/form-data">
            <input type="file" multiple name="file"/>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
